/* fonts  */
/* @import url('https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web'); */


*{
  margin: 0;
  /* padding: 0; */
}
body{
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2210775-jpeg.jpg) center center no-repeat fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}
/* body {
background: #484848;
	background-attachment: fixed;	
	background-size: cover;
  margin: 0;
	} */
  .nav-bar{
    background-color: #100e17;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    /* font-family: 'Farsan', cursive; */
    overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
/* .nav-bar img {
    height: 50px;
    border-radius: 50px;
} */

.nav-bar a{
    color: white;
    padding-top: 10px;
} 

#contain{
	box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto;
	height: 350px;
	width: 800px;
  transition: transform .4s ease;
  
 
	
}
#contain img {
	height: 1px;
}

#contain:hover{
  transform: scale(1.1);
  box-shadow: 1px 6px 19px -7px rgba(255,255,255,0.75);
-webkit-box-shadow: 1px 6px 19px -7px rgba(255,255,255,0.75);
-moz-box-shadow: 1px 6px 19px -7px rgba(255,255,255,0.75);
}
/* 	Product details  */
.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 40%;

}

/* 	Product Name */
#contain .product-details h1{
	/* font-family: 'Old Standard TT', serif; */
	display: inline-block;
	position: relative;
	/* font-size: 34px; */
	color: #344055;
	margin: 0;
	
}

#contain .product-details h1:before{
	position: absolute;
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	/* font-family: 'Farsan', cursive; */
	display: inline-block;
	background: #FFA69E;
	border-radius: 5px;
	/* font-size: 14px; */
	padding: 5px;
	color: #FFF;
	margin: 0;
	animation: chan-sh 6s ease infinite;

}


@keyframes chan-sh {
	from  {content: 'free shipping';}
	to  {content: 'New';}
	
}

/*Product Rating  */
.hint-star {
	display: inline-block;
	margin-left: 0.5em;
	color: gold;
	width: 50%;
}


/* The most important information about the product */
#contain .product-details > p {
	/* font-family: 'Farsan', cursive; */
	text-align: center;
	/* font-size: 20px; */
	color: #7d7d7d;
	
}

/* control */

.control{
	position: absolute;
	bottom: 20%;
	left: 22.8%;
	
}
/* the Button */
.btn {
	transform: translateY(0px);
	transition: 0.3s linear;
	background: #49C608;
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	margin: 0;
	
}

/* .btn:hover{transform: translateY(-4px);} */

.btn span {
	/* font-family: 'Farsan', cursive; */
	transition: transform 0.3s;
	display: inline-block;
  padding: 10px 20px;
	font-size: 1.2em;
	margin:0;
	
}
/* shopping cart icon */
.btn .price, .shopping-cart{
	background: #333;
	border: 0;
	margin: 0;
}

.btn .price {
	transform: translateX(-10%); padding-right: 15px;
}

/* the Icon */
.btn .shopping-cart {
	transform: translateX(-100%);
  position: absolute;
	background: #333;
	z-index: 1;
  left: 0;
  top: 0;
}

/* buy */
.btn .buy {z-index: 3; font-weight: bolder;}

 .btn:hover .price {transform: translateX(-110%);} 

/* .btn:hover .shopping-cart {transform: translateX(0%);}  */



/* product image  */
.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	/* float: right; */
	width: 52.5%;
	display: inline-block;
}

#contain img {width: 100%;height: 100%;}

.info {
    background: rgba(27, 26, 26, 0.9);
    /* font-family: 'Farsan', cursive; */
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.9;
    text-align: left;
    font-size: 120%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {text-align: center; transition: transform .4s;}
 .product-image:hover .info{transform: translateX(0);} 

.info ul li{transition: 0.3s ease;}
 .info ul li:hover{transform: translateX(50px) scale(1.3);} 

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}


/* .nav-bar {
  position: fixed;
  top: 0;
} */

